* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    min-height: 100vh;
    padding-bottom: 30px;
    background: url('./image/backgroundImg.jpg') no-repeat fixed center;
}
.container .content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.container .content .left-weather {
    display: flex;
    flex-direction: column;
}
.container .content .left-weather .leftCloud {
    width: 120px;
    height: 120px;
}
.container .content .left-weather, .right-weather {
    margin-top: 30px;
}
.container .content .left-weather .left {
    margin-bottom: 30px;
}
.container .content .left-weather input[type='search'] {
    width: 300px;
    padding: 10px 0;
    outline: none;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid rgb(44, 44, 97);
    background: transparent;
}
.container .content .left-weather .title {
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(196, 92, 92);
}
.container .content .left-weather .date {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(27, 4, 4);
    opacity: 0.7;
}
.container .content .left-weather .place {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(88, 33, 33);
}
.container .content .right-weather .right {
    margin-bottom: 10px;
}
.container .content .left-weather .leftDegree, .right-weather .rightDegree {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 20px;
}
.container .content .left-weather .leftDegree .imgSvg, .right-weather .rightDegree .imgSvg {
    opacity: 0.7;
}
.container .content .left-weather .leftDegree .degree {
    margin: 0 20px 0 0;
    font-size: 60px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    opacity: 0.7;
}

.container .content .right-weather .right .more-msg {
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}
.container .content .right-weather .right .in-degree {
    font-size: 40px;
    opacity: 0.7;
}

