.container .box .weatherDisplay .loopContainer{
    display: none;
}
.container .box .weatherDisplay .active{
    display: contents;
}

.container .box .left-arrow, .right-arrow {
    display: none;
    padding: 8px;
    margin: 30px 20px 20px 20px;
    font-size: 25px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    background: transparent;
    color: rgb(122, 84, 84);
}
.container .box .left-arrow:hover, .right-arrow:hover {
    border: 3px solid rgb(138, 131, 131);
    border-radius: 100%;
}
.container .box .arrow {
    display: inline-block;
}


.container .box .weatherDisplay .day-forcast{
    overflow-x: hidden;
}
.container .box .weatherDisplay .day-forcast .day {
    margin-top: 20px;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.container .box .weatherDisplay .day-forcast .accord {
    display: flex;
    flex-direction: row;
    padding: 5px 0;
}
.container .box .weatherDisplay .day-forcast .accord .min-degree {
    font-size: 13px;
    font-weight: 200;
}
.container .box .weatherDisplay .day-forcast .accord .avg-degree {
    font-size: 17px;
    font-weight: 600;
}
.container .box .weatherDisplay .day-forcast .accord .max-degree {
    font-size: 20px;
    font-weight: bold;
}
.container .box .weatherDisplay .day-forcast .accord .cloud-icon {
    width: 5px;
    margin: 0;
    padding: 0;
    font-size: 5px;
}
.container .error-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 500px;
    height: 50px;
    font-size: 25px;
    font-family: cursive;
    color: white;
    background: rgb(131, 151, 158);
    z-index: 100;
    animation: showError 2s ease-in-out 0s normal;
}
.container .error-msg{
    visibility: visible;
    animation: showErrorMsg 1s ease-in-out 0s normal;
}

.container .active {
    display: none;
}
@keyframes showError {
    0% {
        opacity: 0.2;
    }
    80% {
        opacity: 0.8;
    }
}
@keyframes showErrorMsg {
    0% {
        transform: rotateX(10deg);
    }
    100% {
        transform: rotateX(100deg);

    }
}

@media only screen and (max-width: 700px) {
    .container .box .weatherDisplay .active{
        display: flex;
        flex-direction: column;
    }
    .container .box .left-arrow, .right-arrow {
        padding: 3px;
        margin: 30px 8px 20px 8px;
    }
    .container .error-box {
        width: 100%;
        height: 50px;
    }
}